MIGROS_USERNAME=
MIGROS_PASSWORD=
MIGROS_ZIPCODE=8000
MIGROS_REGION=gmzh
MIGROS_LANGUAGE=de

# Languages: de, fr, it, en

# Regions (Migros cooperatives):
#   gmzh  — Zürich
#   gmbs  — Basel
#   gmaa  — Aare (Bern)
#   gmnf  — Neuchâtel-Fribourg
#   gmge  — Genève
#   gmlu  — Luzern
#   gmti  — Ticino
#   gmvs  — Valais
#   gmos  — Ostschweiz
#   national — all regions