MIGROS_USERNAME=
MIGROS_PASSWORD=
MIGROS_LIST_ID=

# Regions (Migros cooperatives):
#   gmzh  — Zürich
#   gmbs  — Basel
#   gmaa  — Aare (Bern)
#   gmnf  — Neuchâtel-Fribourg
#   gmge  — Genève
#   gmlu  — Luzern
#   gmti  — Ticino
#   gmvs  — Valais
#   gmos  — Ostschweiz
#   national — all regions